ADX_Indi_ADX_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
ADX_Indi_ADX_MA_Method={{ ma_method | default(0) }}
ADX_Indi_ADX_Period={{ (period | default(0) | int) }}
ADX_Indi_ADX_Shift={{ (shift | default(0) | int) }}
ADX_LotSize={{ lot_size | default(0) }}
ADX_PriceStopLevel={{ (price_stop_level | default(0) | replace("(float)", "") | float) }}
ADX_PriceStopMethod={{ price_stop_method | default(0) }}
ADX_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
ADX_SignalCloseMethod,1=-4
ADX_SignalCloseMethod,2=1
ADX_SignalCloseMethod,3=4
ADX_SignalCloseMethod,F=1
ADX_SignalCloseMethod={{ signal_close_method | default(0) }}
ADX_SignalOpenBoostMethod={{ signal_open_boost | default(0) }}
ADX_SignalOpenFilterMethod={{  signal_open_filter_method | default(1) }}
ADX_SignalOpenLevel={{ signal_open_level | default(0) | float }}
ADX_SignalOpenMethod={{ signal_open_method | default(0) }}
ADX_TickFilterMethod={{ tick_filter_method | default(1) }}
